<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

<div class="login-box">

    <h2>Login</h2>

    <form method="POST">

        {% csrf_token %}

        <input type="text" name="username" placeholder="Enter Username">

        <input type="password" name="password" placeholder="Enter Password">

        <button type="submit">Login</button>

        <p>{{ message }}</p>

    </form>
    <a href="/register/">Create Account</a>

</div>


<script src="{% static 'script.js' %}"></script>

</body>

</html>