{% extends 'base.html' %}

{% block title %}
Print Receipt
{% endblock %}


{% block content %}

<div class="container">

<div class="card shadow p-4">


<h2 class="text-center">
    RECEIPT
</h2>

<hr>


<h5>
Customer Name :
{{ receipt.customer_name }}
</h5>


<h5>
Product Name :
{{ receipt.product_name }}
</h5>


<h5>
Quantity :
{{ receipt.quantity }}
</h5>


<h5>
Amount :
₹ {{ receipt.amount }}
</h5>


<h5>
Date :
{{ receipt.date }}
</h5>


<hr>


<div class="text-center">

<button onclick="window.print()"
class="btn btn-success">

Print Receipt

</button>


<a href="{% url 'receipt' %}"
class="btn btn-secondary">

Back

</a>


</div>


</div>

</div>


{% endblock %}